.register__form {
  width: 100%;
  max-width: 500px;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  backdrop-filter: blur(10px);
  height: 350px;
  bottom: 0;
  margin: auto;
  position: absolute;
}
