body {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(145, 178, 210, 1) 100%
  );
}

.todo__form {
  display: flex;
  justify-content: center;
}

.list-group {
  width: 100%;
  max-width: 500px;
}

.form-check-input {
  cursor: pointer;
}

.input-group {
  width: 100%;
  max-width: 500px;
}

i {
  cursor: pointer;
}

.container {
  margin-top: 80px !important;
}
